@page "/news"

@inject Microsoft.Extensions.Configuration.IConfiguration config;
@using System;
@using System.Linq;
@using System.Text.Json.Serialization;
@using System.Text.Json;
@using Newtonsoft.Json
@using System.Collections;
@using System.Collections.Generic;
@using Microsoft.JSInterop
@inject IJSRuntime JS

@* HTML CONTENT *@
<div id="newsTitleSearchContainer">
  <h3>News</h3>
  <RadzenTextBox style="margin-top: -2px;" @bind-Value=@mNewsTickerName TValue="string"  />
  <RadzenButton style="margin-top: -2px; font-weight: bold;" Click=@storeNewsAsEnum Text="Search"/>
</div>

<RadzenDataList @ref="RadzenNewsDataList" WrapItems="true" PageSize="4" AllowPaging="true" Data="@IEnumNews" TItem="News.Results">

  <Template Context="oneNews">

    <RadzenCard id="newsCard" Style="width:600px;">
      <a href=@oneNews.article_url>
        <div class="d-flex flex-row align-items-center">
          <RadzenImage Path="@oneNews.image_url" Class="rounded-circle float-left mr-3"
            Style="width: 80px; height: 80px;" />
          <div>
            <h4 class="mb-0">@(oneNews.title)</h4>
            <div style="color: royalblue">@oneNews.publisher?.name</div>
          </div>
        </div>
        <hr style="border: 1px black solid; height: 1px; margin: 1rem 0;" />
        <div class="row">
          <div class="col-md-8 text-truncate">
            <b> By: @oneNews.author </b>
          </div>
          <div class="col-md-4 text-right">
            <RadzenBadge BadgeStyle="BadgeStyle.Secondary"
              Text=@DateTimeOffset.Parse(@oneNews.published_utc).UtcDateTime.ToShortDateString() />
          </div>
        </div>
      </a>
    </RadzenCard>

  </Template>
</RadzenDataList>

@code {
    HttpClient httpClient = new HttpClient();
    private RadzenDataList<News.Results> RadzenNewsDataList;
    private NewsObject? newsResults;
    private string? jsonRes;
    private List<News.Results>? ListsomeOfNews = new List<News.Results>();
    private IEnumerable<News.Results>? IEnumNews;
    private string? mNewsTickerName;

    protected override async Task OnInitializedAsync()
    {
        await storeNewsAsEnum();
    }

    public async Task<int> storeNewsAsEnum()
    {

        await GetResultsNews();

        ListsomeOfNews.Clear();

        for (int i = 0; i < newsResults.results.Count(); i++)
        {
            ListsomeOfNews.Add(newsResults?.results[i]);

        }

        IEnumNews = ListsomeOfNews as IEnumerable<News.Results>;

        RadzenNewsDataList.FirstPage();
        return 1;
  }


  public async Task<NewsObject> GetResultsNews()
  {
    @* API CALL: News (sorted by most recent first), ticker to be dynamically *@
    //Extra API KEY: 33H7QLES94CC8JMS


    if(mNewsTickerName == null) {
      mNewsTickerName = "AAPL";
    }

    string QUERY_URL =
    "https://api.polygon.io/v2/reference/news?ticker=" + mNewsTickerName + "&order=desc&limit=100&apiKey=WuCRrJx5EwrJBBCjO_9FbpPEagQhdpCF";

Console.WriteLine(QUERY_URL);

    Uri queryUri = new Uri(QUERY_URL);

    HttpResponseMessage response = await httpClient.GetAsync(queryUri);

    jsonRes = await response.Content.ReadAsStringAsync(); //String

    newsResults = JsonConvert.DeserializeObject<NewsObject>(jsonRes);

    return await Task.FromResult(newsResults);
  }

  @* ==============// MODELS for Returned JSON// ============== *@
  public class NewsObject
  {
    public int count { get; set; }
    public String? next_url { get; set; }
    public String? request_id { get; set; }
    public Results[]? results { get; set; }
    public String? status { get; set; }
  }

  public class Results
  {
    public String? amp_url { get; set; }
    public String? article_url { get; set; }
    public String? author { get; set; }
    public String? id { get; set; }
    public String? description { get; set; }
    public String? image_url { get; set; }
    public String[]? keywords { get; set; }
    public String? published_utc { get; set; }
    public Publisher? publisher { get; set; }
    public String[]? tickers { get; set; }
    public String? title { get; set; }
  }

  public class Publisher
  {
    public String? favicon_url { get; set; }
    public String? homepage_url { get; set; }
    public String? logo_url { get; set; }
    public String? name { get; set; }
  }

  //void PageChanged(PagerEventArgs args)
  //{
  // orders = GetOrders(args.Skip, args.Top);
  //}



}

@* =============// BELOW IS AN EXAMPLE JSON RESPONSE FOR NEWS API //=========== *@
@* {
  "count": 1,
  "next_url":
  "https://api.polygon.io:443/v2/reference/news?cursor=eyJsaW1pdCI6MSwic29ydCI6InB1Ymxpc2hlZF91dGMiLCJvcmRlciI6ImFzY2VuZGluZyIsInRpY2tlciI6e30sInB1Ymxpc2hlZF91dGMiOnsiZ3RlIjoiMjAyMS0wNC0yNiJ9LCJzZWFyY2hfYWZ0ZXIiOlsxNjE5NDA0Mzk3MDAwLG51bGxdfQ",
  "request_id": "831afdb0b8078549fed053476984947a",
  "results": [
  {
  "amp_url": "https://amp.benzinga.com/amp/content/20784086",
  "article_url":
  "https://www.benzinga.com/markets/cryptocurrency/21/04/20784086/cathie-wood-adds-more-coinbase-skillz-trims-square",
  "author": "Rachit Vats",
  "description": "<p>Cathie Wood-led Ark Investment Management on Friday snapped up another 221,167 shares of the
  cryptocurrency exchange <strong>Coinbase Global Inc </strong>(NASDAQ: <a class=\"ticker\"
  href=\"https://www.benzinga.com/stock/coin#NASDAQ\">COIN</a>) worth about $64.49 million on the stock&rsquo;s
  Friday&rsquo;s dip and also its fourth-straight loss.</p>\n<p>The investment firm&rsquo;s <strong>Ark Innovation
  ETF</strong> (NYSE: <a class=\"ticker\" href=\"https://www.benzinga.com/stock/arkk#NYSE\">ARKK</a>) bought the shares of
  the company that closed 0.63% lower at $291.60 on Friday, giving the cryptocurrency exchange a market cap of $58.09
  billion. Coinbase&rsquo;s market cap has dropped from $85.8 billion on its blockbuster listing earlier this
  month.</p>\n<p>The New York-based company also added another 3,873 shares of the mobile gaming company <strong>Skillz
  Inc</strong> (NYSE: <a class=\"ticker\" href=\"https://www.benzinga.com/stock/sklz#NYSE\">SKLZ</a>), <a
  href=\"http://www.benzinga.com/markets/cryptocurrency/21/04/20762794/cathie-woods-ark-loads-up-another-1-2-million-shares-in-skillz-also-adds-coinbase-draftkin\">just
  a day after</a> snapping 1.2 million shares of the stock.</p>\n<p>ARKK bought the shares of the company which closed
  ...</p><p><a
  href=https://www.benzinga.com/markets/cryptocurrency/21/04/20784086/cathie-wood-adds-more-coinbase-skillz-trims-square
  alt=Cathie Wood Adds More Coinbase, Skillz, Trims Square>Full story available on Benzinga.com</a></p>",
  "id": "nJsSJJdwViHZcw5367rZi7_qkXLfMzacXBfpv-vD9UA",
  "image_url":
  "https://cdn2.benzinga.com/files/imagecache/og_image_social_share_1200x630/images/story/2012/andre-francois-mckenzie-auhr4gcqcce-unsplash.jpg?width=720",
  "keywords": [
  "Sector ETFs",
  "Penny Stocks",
  "Cryptocurrency",
  "Small Cap",
  "Markets",
  "Trading Ideas",
  "ETFs"
  ],
  "published_utc": "2021-04-26T02:33:17Z",
  "publisher": {
  "favicon_url": "https://s3.polygon.io/public/public/assets/news/favicons/benzinga.ico",
  "homepage_url": "https://www.benzinga.com/",
  "logo_url": "https://s3.polygon.io/public/public/assets/news/logos/benzinga.svg",
  "name": "Benzinga"
  },
  "tickers": [
  "DOCU",
  "DDD",
  "NIU",
  "ARKF",
  "NVDA",
  "SKLZ",
  "PCAR",
  "MASS",
  "PSTI",
  "SPFR",
  "TREE",
  "PHR",
  "IRDM",
  "BEAM",
  "ARKW",
  "ARKK",
  "ARKG",
  "PSTG",
  "SQ",
  "IONS",
  "SYRS"
  ],
  "title": "Cathie Wood Adds More Coinbase, Skillz, Trims Square"
  }
  ],
  "status": "OK"
  } *@
